.nied-label-payment{
    padding: .175rem;
    border-radius: 3px;
}
.container-day-checkout {

}
.nied-modal-title{
  margin-top:0.4rem;
}
.nied-label {
    font-size: 1.4rem;
}
.nied-span {
    font-size: 1.4rem;

}

.nied-title-pagamentos-show{
    font-size: 1.8rem;

}
.nied-title-checkout-day {
    padding-top: 0.8rem;
    font-size: 1.8rem;
    text-align: center;
    color: #3688da;
    font-weight: bold;
    margin-bottom: 0rem;
}

.show-buttons {
    margin-top: 2rem;
}