body {
    font-family: 'Roboto', sans-serif;
    background-color: rgb(253, 253, 253);
}

h2 {
    font-family: 'Roboto', sans-serif;

}
a {
    text-decoration: none;
}
.nied-navbar {
    background-color: transparent;
    box-shadow: 0px 0px 7px 3.5px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0;
}

.nied-logo {
    font-family: "Tapestry", cursive;
    font-size: 3rem;
    color: rgb(0, 0, 0);
    margin:.4rem;
    text-decoration: none;
    &:hover{
        text-decoration: none;

    }

}

.nied-info {

    background-color:white;
    height: 4rem;
    padding-top: 0.8rem;
    padding-right: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;

        span{
            font-size:1.7rem;
            transition: .7s;
            color: #3688da;

            &:hover {
                color: #2287ec;
                font-size:1.9rem;

    
            }
        }  
    

    
    
}

.nied-spinner {
    margin-left: 30%;
}
.nied-body {
    min-height: 78vh;

}
///Cards--------------------

.nied-card {
    transform: translateY(0) scale(1);
    transition: .67s;

    &:hover{
        transform: translateY(-10px) scale(1.1);

    }

   
}

.nied-card-body{
        border-radius: 5px;

    padding-left: .5rem;
    padding-right: .5rem;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: space-between;

    h3 {
        font-size:1.5rem;

    }

    p  {
        font-size:1rem;

    }

    span {
        color: white;
        opacity: 1;
        font-size:1.2rem;

    }
}

.nied-modal-add-container {
    text-align: center;
    align-items: center;
  
}

.nied-modal-title{
    text-align: center;
}
.nied-modal-search-container {
    text-align: center;
    align-items: center;
    input {
        margin-top: 2rem;
        margin-bottom: 2rem;
        width: 60%;
    }
    @media screen and (min-width: 768px) {
        
    }
    @media screen and (max-width: 768px) {
        .nied-button-proucurar-modal {
            margin-top: .75rem;
        }
    }
  
}


//Inputs
.nied-container-inputs {
    display: flex;
    flex-direction: column;
    align-items:center;
}
.nied-date-input{
 width: 60%;
}

.nied-title-pagamentos {
    margin-top:1rem;
}




.nied-button-add-new-payment {
    width: 2.3rem;
    height: 2.3rem;
    border-radius: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    font-weight: 500;

    margin-top: 1rem;

    border-style: none;
    box-shadow: 0px 0px 8px 1px;
    box-sizing: border-box;
    cursor: pointer;
background-color: #3688da;
    &:hover {
        transition: .4s;
        box-shadow: 0px 0px 5px 0.4px;
    }
}




///============

.nied-button {
    width: 3.3rem;
    height: 3.3rem;
    border-radius: 100%;
    position: fixed;

    border-style: none;
    box-shadow: 0px 0px 10px 1.4px;
    box-sizing: border-box;
    cursor: pointer;
background-color: #3688da;
transition: .35s;
    &:hover {
        width: 3.45rem;
        height: 3.45rem;
        box-shadow: 0px 0px 10px 2.9px;
    }
}
.nied-button-search {
    bottom: 5.9rem;
    right: 2rem;
    @media screen and (max-width: 768px) {
        bottom: 5.5rem;
    right: 1rem;
    }
}

.nied-button-add {
    bottom: 1.4rem;
    right: 2rem;
    @media screen and (max-width: 768px) {
        bottom: 1rem;
        right: 1rem;
    }
}




//----Footer



.footer {
    height: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
bottom: 0;
    a{
        transition: .5s;
        &:hover{
            transform: translateY(-10px) scale(1.1);
        }
    }
    
}

.text-footer {
    font-size: 1.225rem;
    font-weight:700;
    color: rgb(0, 0, 0);
    opacity: 0.7;
    margin-bottom: 0;
    margin-top:0.3rem;
    transition: 0.5s;
    &:hover{

        opacity: 1;

    }
}
.twitter {
    color: #1D9BF0;
}
.linkedin {
    color: #0A66C2;
}
.instagram {
    color: #CF31A5;
}
.github {
    color: black;
}